/* .header {
	align-content: center;
	display: grid;
	justify-items: center;
} */


body {
	margin: 0;
	padding: 0;
	background-color: #FBF7EC;
}

nav {
	background-color: #808080;
	padding: 0 15px;
	margin-bottom: -10px;
}

.homepage-img {
	width: 100%
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: rgb(143, 148, 155);
	text-decoration: underline;
}

footer {
	background: #414042;

}

ul.contact-info{
	list-style-type: none;
	margin-left: 10px;
	padding-left: 0;
	margin-top: 0;
	font-size: 18px;
	color: white;
}

h2.footer-contact{
	font-size: 30px;
	margin-top: 6px;
	padding-top: 10px;
	margin-bottom: 8px;
	margin-left: 10px;
	color: white;

}

.contact-icons{
	color: white;
	font-size: 19px;
}

.gallery {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-row-gap: 5px;
}

.gallery img {
	width: 97%;
}

.gallery a{
	transition: all 1s;
}

.gallery a:hover {
	filter: grayscale(25%);
	transform: scale(0.95);
}

main {
	background-color: #FBF7EC;
}

footer a{
	color: white;
}

footer a:hover {
	color: rgb(143, 148, 155);
	text-decoration: underline;
}

.contact-footer {
	text-align: center;
	line-height: 1.5;
}

.contact-footer li {
	line-height: 2;
}

footer li {
	line-height: 1.5;
}